@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@page {
  size: A4;
  margin: 0;
}
@media print, screen {
  .page {
    width: 210mm;
    min-height: 297mm;
    border: 1px #d3d3d3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 11px;
    position: relative;
    page-break-after: always;
  }

  .colLeft {
    background-color: #f4f4f4;
    height: 100%;
    flex-grow: 1;
    width: 30%;
    font-size: 10px;
  }

  .colRight {
    height: 100%;
    width: 70%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .section {
    margin-bottom: 18px;
  }

  .title {
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 11px;
    border-bottom: 1px black solid;
    padding: 5px 0;
    margin-bottom: 12px;
  }

  .firstPageOffset {
    margin-top: 220px;
  }

  .col {
    padding: 12px 33px;
  }

  .subTitle {
    font-weight: 700;
    padding-bottom: 5px;
  }

  .employmentDetails {
    display: flex;
    justify-content: space-between;
  }

  .nameTitle {
    z-index: 1;
    background-color: white;
    border: 2px black solid;
    text-align: center;
    text-transform: uppercase;
    width: 53%;
    position: absolute;
    left: 50%;
    top: 42px;
    transform: translateX(-50%);
    padding: 46px;
    .name {
      font-size: 22px;
      margin-bottom: 9px;
      border-bottom: none;
      padding: unset;
    }
    .jobTitle {
      font-size: 12px;
    }
  }
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
}
